* {
  margin: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

html {
  background: #1b1b1b;
  height: 100%;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 60px;
}

#headerContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#headerHeading {
  width: 100%;
  color: #fff;
  display: flex;
  font-size: 14px;
  margin: 30px 0 0 20px;
}

#headerIcons {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin: 30px 0 0 10px;
}

#headerIcons img {
  color: #fff;
  max-width: 24px;
  margin-right: 15px;
}

/* MAIN */

main {
  padding: 0 10px 0 10px;
}

.mbody {
  margin-top: 50px;
}

.mainTop {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  gap: 5px;
}

.mtiImg img {
  max-width: 64px;
  display: flex;
  align-items: center;
  border-radius: 5px 0 0 5px;
}

.mainTopItem {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  background: #2a2a2a;
}

.mtiDesc {
  padding-left: 10px;
}

.mbodyItems {
  display: flex;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  gap: 10px;
}

.mbodyItems::-webkit-scrollbar {
  display: none;
}

.mbodyMixImg img {
  max-width: 180px;
  max-height: 180px;
}

/* BOTTOM NAV */

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

#bottomNavHome img {
  max-width: 24px;
}
#bottomNavSearch img {
  max-width: 24px;
}
#bottomNavLib img {
  max-width: 24px;
}

#bottomNavHome,
#bottomNavSearch,
#bottomNavLib {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomNav a {
  text-decoration: none;
}

/* SEARCH PAGE */
.searchContainer {
  width: 100%;
  padding-top: 10px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.searchContainer input {
  width: 95%;
  height: 40px;
  padding-left: 25px;
  background: url("img/icons/search_crni.png") no-repeat left;
  background-size: 20px;
  background-color: #fff;
}

.searchBlock {
  padding-top: 2em;
}

.searchGenres {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.genresItem {
  width: 100%;
  height: 5em;
  background: red;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.genresItem:nth-child(2) {
  background: #ff6436;
}

.genresItem:nth-child(3) {
  background: #016450;
}

.genresItem:nth-child(4) {
  background: #b02896;
}

.genresItem:nth-child(5) {
  background: #ffc864;
}
.genresItem:nth-child(6) {
  background: #19e58c;
}

.genresItem:nth-child(7) {
  background: #453245;
}
.genresItem:nth-child(8) {
  background: #732173;
}
.genresItem:nth-child(9) {
  background: #983659;
}
.genresItem:nth-child(10) {
  background: #112345;
}

.genresItemName {
  display: flex;
  justify-content: start;
  padding: 0.4em 0 0 0.4em;
}

.genresItemImg {
  display: flex;
  align-items: center;
  justify-content: end;
  /*-moz-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);*/
}

.genresItemImg img {
  max-width: 55px;
  padding: 0.4em 1em 0 0;
}

.searchBlock:nth-child(2) {
  margin-bottom: 100px;
}

/* LIBRARY PAGE*/
.searchYourLibrary {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#yourLibraryIcons img {
  max-width: 20px;
}

#yourLibraryHeadings {
  display: flex;
  justify-content: start;
  align-items: center;
}

#yourLibraryIcons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;
  margin-right: 0.8em;
}

#yourLibraryHeadings span {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border-radius: 100%;
  margin: 0 0.5em 0 0.5em;
}

#yourLibraryHeadings span p {
  color: #000000;
  font-weight: bold;
}

.searchCategories {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 1em;
}

.searchCategories span {
  width: 4.5em;
  height: 1.3em;
  border: 1px solid #a0a0a0;
  border-radius: 50px;
  text-align: center;
}

.searchCategories span p {
  font-size: 13px;
}

#searchHr {
  margin-top: 10px;
  border-color: #000000;
}

.searchSortContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.searchSortContainer img {
  max-width: 16px;
  max-height: 16px;
}
.searchSortContainer div {
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 10px;
  gap: 5px;
  justify-content: start;
  align-items: center;
}

.searchSortContainer div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
}

.searchSortContainer div:nth-child(2) img {
  max-width: 24px;
  max-height: 24px;
}

/* SEARCH MAIN*/

.searchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.searchContainer img {
  max-width: 72px;
}

.searchContainerItems {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}
.searchContainerItems p {
  font-size: 12px;
}

.searchDesc {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.searchThumb {
  max-height: 72px;
}

/* DESKTOP VIEW*/

@media screen and (min-width: 680px) {
  /*SIDENAV*/

  .bottomNav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: #000000; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
  }

  header,
  main,
  .libraryHeader {
    margin-left: 250px;
  }
}
